<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>cannon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,95},{50,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,144}}</string>
                <key>sourceSize</key>
                <string>{50,144}</string>
            </dict>
            <key>cannon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,241},{50,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,144}}</string>
                <key>sourceSize</key>
                <string>{50,144}</string>
            </dict>
            <key>cannon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{50,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,144}}</string>
                <key>sourceSize</key>
                <string>{50,144}</string>
            </dict>
            <key>cannon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,241},{50,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,144}}</string>
                <key>sourceSize</key>
                <string>{50,144}</string>
            </dict>
            <key>cannon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,241},{50,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,144}}</string>
                <key>sourceSize</key>
                <string>{50,144}</string>
            </dict>
            <key>clawg.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fpsup.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,95},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>oneup.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>scatterup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f3833ea90f3b006d0d999c0592ee448:0458fc002d1c9908b6796b9ea2d42c1d:06be901968706a85a1a578946713a577$</string>
            <key>textureFileName</key>
            <string>atlas0.png</string>
        </dict>
    </dict>
</plist>
