<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floortile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>sand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tileatlas.png</string>
            <key>size</key>
            <string>{1286,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5148b25275240c89e0d2c39320f1bd2:6c5c1e5339b2a643dfdffd0b3016ce41:643536157a07d1b2d286b5a13c72d9ed$</string>
            <key>textureFileName</key>
            <string>tileatlas.png</string>
        </dict>
    </dict>
</plist>
